
<!DOCTYPE html>

<html lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrederCustomer</title>
    <link href="~/Css/Order/OrderCustomer.css" rel="stylesheet" />
    <style>
        	[v-cloak] {
			display: none;
		}
    </style>
</head>
<body>
    <div id="app" class="container" v-cloak>
        <hj-modal v-bind:message="'شما هیچ غذای را از منوانتخاب نکرده اید'" v-bind:idmodal="'messagemodal'"></hj-modal>
        <hj-modal v-bind:message="'مشکلی در سرور رخ داده است'" v-bind:idmodal="'errormodal'"></hj-modal>
        <hj-modal v-bind:message="'پذیرش سفارش ها بعد از ماه رمضان انجام  می شود'" v-bind:idmodal="'order'"></hj-modal>


        <div id="showproduct" v-if="showproductprop" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#4cd035;color:white">
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
         
                    </div>
                    <div style="margin-right:10px;">
                        <h5 class="card-title">{{showproductprop.Name}}</h5>

                        <p class="card-text">قیمت: {{showproductprop.Price|formatNumber}} تومان</p>
                        <p style="font-size:11px">
                            توضیحات: {{showproductprop.Description}}
                        </p>
                        <p v-if="showproductprop.ShowBread">
                            <input type="checkbox" v-model="showproductprop.hasBread" name="name" value="" />
                            نان اضافه
                        </p>
                    </div>
                    <div> 
                    <button v-if="showproductprop.Available" class="btn btn-block  getAddProduct " v-on:click.stop="getAddProduct(showproductprop)" style="font-size:11px">افزودن به سبد خرید </button>
                    </div>

                        <img v-bind:src="showproductprop.Image_url" style="height:400px" alt="Alternate Text" />
           
             
                </div>
            </div>
        </div>



        <div id="loadingModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:rgb(76, 208, 53);color:white">
                        <h5 class="modal-title">
                           در حال بررسی
                        </h5>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">
                      لطفا چند لحظه منتظر بمانید...
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <select v-model="selectedGroupProductId" class="browser-default custom-select" style="background-color:#4cd035;color:white">
            <option v-bind:value="null">فیلتر بر اساس نوع غذا</option>
            <option v-for="item in groupList" v-bind:value="item.Id">{{ item.Name }}</option>
        </select>
        <br />
        <br />

        <div class="row">

            <div class="col-lg-8 scroll">
                <div class="card-deck " style="direction:rtl">

                    <div v-for="item in listProduct" v-show="selectedGroupProductId === null || item.GroupProductId == selectedGroupProductId">
                        <div class="card flip-card"  style="width: 13rem; ">
                        
                            <div style=" background-color:rgba(0,0,0,.075);">
                                <div class="flip-card-front "
                                     v-bind:class="[item.isFlipped ? isFlippedCssClass : null]" style="background-color:white ;">
                                    <img class="card-img-top" style="height:170px" v-bind:src="item.Image_url" alt="Card image cap" v-on:click="showproduct(item)">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.Name}}</h5>

                                        <p class="card-text"> {{item.Price|formatNumber}} تومان</p>
                                        <p style="font-size:11px">
                                            {{item.Description}}
                                        </p>
                                        <p v-if="item.ShowBread">
                                            <input type="checkbox" v-model="item.hasBread" name="name" value="" />
                                            نان اضافه
                                        </p>
                                        <button v-if="item.Available" class="btn btn-block  getAddProduct " v-on:click.stop="getAddProduct(item)" style="font-size:11px">افزودن به سبد خرید </button>
                                        <p v-else>
                                            ناموجود
                                        </p>
                                    </div>
                                </div>

                                <div class="flip-card-back "
                                     v-bind:class="[item.isFlipped ? null : isFlippedCssClass]" style="background-color:white; ">
                                    <img class="card-img-top" style="height:170px" v-bind:src="item.Image_url" alt="Card image cap" v-on:click="showproduct(item)">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.Name}}</h5>

                                        <p class="card-text"> {{item.Price|formatNumber}} تومان</p>
                                        <p style="font-size:11px">
                                            {{item.Description}}
                                        </p>
                                        <p v-if="item.ShowBread">
                                            <input type="checkbox" v-model="item.hasBread" name="name" value="" />
                                            نان اضافه
                                        </p>
                                        <button v-if="item.Available" class="btn btn-block  getAddProduct " v-on:click.stop="getAddProduct(item)" style="font-size:11px">افزودن به سبد خرید </button>
                                        <p v-else>
                                            ناموجود
                                        </p>
                                    </div>
                                </div>
                            </div>
                       

                        </div>
                    </div>

                </div>



            </div>
            <div class="col-lg-4">

                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered table-striped table-hover table-sm">
                            <tr>
                                <td colspan="5" style="text-align:center;background-color:rgb(76, 208, 53);color:white">سبد خرید</td>
                            </tr>
                            <tr>
                                <th>نام</th>
                                <th>قیمت</th>
                                <th>تعداد</th>
                                <th>عملیات</th>
                                <th>جمع</th>
                            </tr>
                            <tr v-for="item in selectionProduct" v-bind:key="item.id">
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Price }}</td>
                                <td>{{ item.count }}</td>
                                <td>
                                    <button type="button" v-on:click="plus(item)" class="btn btn-primary">+</button>
                                    &nbsp;
                                    <button type="button" v-on:click="minus(item)" class="btn btn-danger">-</button>
                                </td>
                                <td>{{ getSubTotal(item) }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">جمع کل</td>
                                <td>{{ getTotal() }}</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label><b>جمع کل پرداختی</b></label>
                    </div>
                    <div class="col-sm-6">
                        <span><b>{{ getTotal() }} تومان</b></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-textarea-container">
                            <div class="basket-header" style="background-color:rgb(76, 208, 53);color:white">
                                <span class="icon-pencil-span"></span>    توضیحات سفارش
                            </div>
                            <textarea v-model="description" id="order_comment" maxlength="1024" name="order_comment" placeholder="اگر پیشنهادی درمورد نحوه‌ی ارسال یا سفارش خود دارید، در این قسمت بنویسید."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary  btn-block" id="checkfinal" v-on:click="redirectToAction()">ثبت/بررسی </button>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/js/hjFunction.js"></script>
    <script src="~/js/Orders/ordercustomer.js"></script>

    <script>


		$(function () {

			$('div.flip-card-back').addClass('isFlipped')
			$('div.flip-card-front').removeClass('isFlipped')

			$('div.flip-card').click(function () {

				if ($(this).find('div.flip-card-front').hasClass('isFlipped')) {

					$(this).find('div.flip-card-front').removeClass('isFlipped')
					$(this).find('div.flip-card-back').addClass('isFlipped')

				}
				else {

					$(this).find('div.flip-card-back').removeClass('isFlipped')
					$(this).find('div.flip-card-front').addClass('isFlipped')

				}


			})

		})

    </script>

</body>
</html>
