
<!DOCTYPE html>

<html lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrederCustomer</title>
    <style>
        .basket-header {
            border: 1px solid #d8d8d8;
            padding: 7px;
            background: #fafafa;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            border-radius: 4px 4px 0 0;
        }

        #order_comment {
            width: 100% !important;
            max-width: 100% !important;
            height: 100px;
            resize: vertical;
            font-size: 12px;
            font-weight: 200;
            border-radius: 0 0 4px 4px;
        }


        .scroll {
            direction: ltr;
            max-height: 600px;
            overflow-y: auto;
            overflow-y: scroll; /* Add the ability to scroll */
        }


            .scroll::-webkit-scrollbar {
                display: none;
            }

        /* Hide scrollbar for IE and Edge */
        .scroll {
            -ms-overflow-style: none;
        }



        div.card {
            transition-delay: 0s;
            transition-duration: 200ms;
            transition-property: opacity, transform;
            transition-timing-function: ease-in-out;
        }


        .card-img-top {
            width: 99%;
        }

        /*div.card:hover {
            transform: scale(1.2);
        }*/

        .getAddProduct {
            background-color: #ef394e;
            color: white;
            cursor: pointer;
            outline: none;
        }

            .getAddProduct:hover {
                background-color: #3e8e41;
            }

            .getAddProduct:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
    </style>
</head>
<body>
    <div id="app" class="container">
        <br />
        <select v-model="selectedGroupProductId" class="browser-default custom-select" style="background-color:#4cd035;color:white">
            <option v-bind:value="null">فیلتر بر اساس نوع غذا</option>
            <option v-for="item in groupList" v-bind:value="item.Id">{{ item.Name }}</option>
        </select>
        <br />
        <br />

        <div class="row">

            <div class="col-md-8 scroll">
                <div class="card-columns " style="direction:rtl">

                    <div class="card " style="width: 12rem; " v-for="item in listProduct" v-show="selectedGroupProductId === null || item.GroupProductId == selectedGroupProductId">
                        <img class="card-img-top" style="height:120px" v-bind:src="item.Image_url" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{item.Name}}</h5>

                            <p class="card-text"> {{item.Price|formatNumber}} تومان</p>
                            <p style="font-size:11px">
                                {{item.Description}}
                            </p>
                            <p v-if="item.ShowBread">
                                <input type="checkbox" v-model="item.hasBread" name="name" value="" />
                                نان اضافه
                            </p>
                            <button v-if="item.Available" class="btn btn-block  getAddProduct" v-on:click="getAddProduct(item)" style="font-size:11px">افزودن به سبد خرید </button>
                            <p v-else>
                                ناموجود
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">

                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered table-striped table-hover table-sm">
                            <tr>

                                <th>نام</th>
                                <th>قیمت</th>
                                <th>تعداد</th>
                                <th>عملیات</th>
                                <th>جمع</th>
                            </tr>
                            <tr v-for="item in selectionProduct" v-bind:key="item.id">
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Price }}</td>
                                <td>{{ item.count }}</td>
                                <td>
                                    <button type="button" v-on:click="plus(item)" class="btn btn-primary">+</button>
                                    &nbsp;
                                    <button type="button" v-on:click="minus(item)" class="btn btn-danger">-</button>
                                </td>
                                <td>{{ getSubTotal(item) }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">جمع کل</td>
                                <td>{{ getTotal() }}</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <label><b>جمع کل پرداختی........................</b></label>
                    </div>
                    <div class="col-sm-4">
                        <span><b>{{ getTotal() }} تومان</b></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-textarea-container">
                            <div class="basket-header">
                                <span class="icon-pencil-span"></span>    توضیحات سفارش
                            </div>
                            <textarea v-model="description" id="order_comment" maxlength="1024" name="order_comment" placeholder="اگر پیشنهادی درمورد نحوه‌ی ارسال یا سفارش خود دارید، در این قسمت بنویسید."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-block" v-on:click="redirectToAction()">بررسی نهایی</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/js/hjFunction.js"></script>
    <script src="~/js/Orders/ordercustomer.js"></script>

</body>
</html>
