
@{
   
    ViewBag.Title = "Index";
}

<h2>لیست کاربران</h2>
<div class="row">
    <div class="col-sm-12 bg-info">
        <div id="deleteResult"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 links">
        @Html.ActionLink("ایجاد کاربر", "Create")
        @*<button class="btn btn-primary" id="btnOpenCreateDialog">ایجاد کاربر</button>*@
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2">
      
        <input type="text" name="name" id="name"  class="list-group-item-text"  placeholder="نام کاربر"/>
    </div>
    <div class="col-sm-2">
        <button type="button" id="serche" class="btn btn-primary" style="margin-bottom:10px">جستجو</button>
    </div>
</div>
<div id="pagingshow">

</div>
<div class="row">

    <div class="col-sm-10">
        <button type="button" id="first" > <<  اول</button>&nbsp;

        <button type="button" id="next" > >  بعدی  </button>&nbsp;

        <button type="button" id="previous"> <  قبلی </button>&nbsp;

        <button type="button"id="last"> >>  آخری  </button>&nbsp;
    </div>
  
</div>
@{
    ViewModels.Users.CreateViewModel CreateViewModel = new ViewModels.Users.CreateViewModel();
}
@Html.Partial("_Partial_GeneralDialog", CreateViewModel)
@section Scripts
{
    <script src=@Links.scripts.jquery_unobtrusive_ajax_min_js></script>
    <script src="~/js/Users/index.js"></script>
}