

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  
</head>
<body>

    <div id="app">
        <div class="modal" id="details" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">جزییات</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-bordered table-striped table-hover table-sm">
                                    <tr>

                                        <th>نام</th>
                                        <th>قیمت</th>
                                        <th>تعداد</th>
                                        <th>جمع</th>
                                    </tr>
                                    <tr v-for="item in detailsFactor" v-bind:key="item.id">

                                        <td>{{ item.Name }}</td>
                                        <td>{{ item.Price }}</td>
                                        <td>{{ item.count }}</td>
                                     
                                        <td>{{ getSubTotal(item) }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">جمع کل</td>
                                        <td>{{ getTotal() }}</td>
                                    </tr>
                                </table>
                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <form action="/" method="post">
            <div class="form-group row">
                @*<div class="col-sm-1">
                    <label> نام غذا</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="username" id="username" value="" v-model="factor.username" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="button" v-on:click="setParameter();onSerche();"> جستجو</button>

                </div>*@


                <div class="row">

                    <div class="col-sm-3">
                        <input class="form-control text-box single-line" type="text" name="username" id="username" v-model="factor.userName" placeholder="نام کاربری" />
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control text-box single-line" type="text" name="mobile" id="mobile" v-model="factor.mobile" placeholder="تلفن همراه" />
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control text-box single-line" type="text" name="address" id="address" v-model="factor.address" placeholder="آدرس" />
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary" type="button" v-on:click="setParameter();onSerche();"> جستجو</button>

                    </div>

                </div>

            </div>
        </form>
        <div class="row">
            <div class="col-xs-12 table-responsive">

                <table id="data" class="table table-bordered table-condensed table-striped table-hover">
                    <tr>
                        <th>ردیف</th>
                        <th>
                            نام کاربر
                        </th>
                        <th>
                            آدرس
                        </th>
                        <th>
                            تلفن همراه
                        </th>
                        <th>
                            وضعیت تایید
                        </th>
                        <th>
                           و ساعت تاریخ
                        </th>
                        <th>
                            عملیات
                        </th>

                    </tr>
                    <tr v-for="(i,index)  in listFactor" v-bind:key="i.Id">
                        <td> {{i.RowNumber}}</td>
                        <td>{{i.UserName}}</td>
                        <td>{{i.Address}}</td>
                        <td>{{i.Mobile}}</td>
                        <td>{{i.approved}}</td>
                        <td>{{i.Date}}</td>
                        <td>

                            <button v-on:click="details(i.Id)">جزییات</button> &nbsp;
                        </td>
                    </tr>

                </table>

            </div>
        </div>
        <div class="row">

            <div class="col-sm-10">
                <button v-on:click="firstButtonClick()"> <<  اول</button>&nbsp;

                <button v-on:click="nextButtonClick()"> >  بعدی  </button>&nbsp;

                <button v-on:click="previousButtonClick()"> <  قبلی </button>&nbsp;

                <button v-on:click="lastButtonClick()"> >>  آخری  </button>&nbsp;
            </div>
            <div class="col-sm-2">
                <label>{{labelPageIndex}}</label>&nbsp;
                از
                <label>{{labelPageCount}}</label>

            </div>
        </div>
    </div>
    <script src="~/js/hjFunction.js"></script>
    <script src="~/js/Report/Index.js"></script>
</body>
</html>
